@import './../styles/_colors';
@import '@styles/_others';

.aweHidden{
    opacity: 0;
}

.note_container{
    margin-top: 50px;
    .note{
        max-width: 900px;
        margin: 0 auto;
    }
}

.notes_container{
    margin: 0 auto;
    
    margin-top: 50px;
    max-width: 1600px;
    
    justify-content: center !important;
    @media screen and (min-width: $md) {
        justify-content: start !important;
    }
}

.home{
    min-height: 100vh;
}